<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="http://www.springframework.org/schema/rabbit
	http://www.springframework.org/schema/rabbit/spring-rabbit-1.4.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">
	
    
    <!--定义rabbitMQ链接工厂  -->

	<rabbit:connection-factory id="connectionFactory"
		host="${mq.host}" 
		port="${mq.port}" 
		username="${mq.username}" 
		password="${mq.password}"
		virtual-host="${mq.virtualhost}" />
	
	<!-- MQ的管理，包括队列、交换器等 -->
	<rabbit:admin connection-factory="connectionFactory"/>
		
	<!-- 申明队列 -->
	<rabbit:queue name="TB-WEB-ITEM-QUEUE" auto-declare="true" durable="true"/>
	    
	<!--消费者对象 -->
	<bean id="itemMQHandler" class="com.tb.web.mq.queue.ItemMQHandler"></bean> 
	
	<!--MQ监听队列  -->
	<rabbit:listener-container connection-factory="connectionFactory">
		<rabbit:listener ref="itemMQHandler" method="execute" queue-names="TB-WEB-ITEM-QUEUE"/>	
	</rabbit:listener-container>
	

</beans>
